{% extends "homepage.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<section id="portfolio">
    <div class="cards-container">
        <div class="project-card">
            <img src="static\image1.png" alt="Picture of me in footbal jersey">
            <h3>Project 1</h3>
            <p>Description of Project 1</p>
            <a href="#"></a>
        </div>
        <div class="project-card">
            <img src="static\image1.png" alt="Picture of me in footbal jersey">
            <h3>Project 2</h3>
            <p>Description of Project 2</p>
            <a href="#"></a>
        </div>
        <div class="project-card">
            <img src="static\image1.png" alt="Picture of me in footbal jersey">
            <h3>Project 2</h3>
            <p>Description of Project 2</p>
            <a href="#"></a>
        </div>
        <div class="project-card">
            <img src="static\image1.png" alt="Picture of me in footbal jersey">
            <h3>Project 2</h3>
            <p>Description of Project 2</p>
            <a href="#"></a>
        </div>
    </div>
</section>

{% endblock %}
