{% extends "homepage.html" %}

{% block title %}Skills{% endblock %}

{% block content %}
<div class="skills-container">
    <div class="skills-left">
      <h2>Technical Skills</h2>
      <ul>
        <li><progress value="75" max="100"></progress><span>75%</span> HTML5</li>
        <li><progress value="80" max="100"></progress><span>80%</span> CSS3</li>
        <li><progress value="65" max="100"></progress><span>65%</span> JavaScript</li>
        <li><progress value="90" max="100"></progress><span>90%</span> React.js</li>
        <li><progress value="70" max="100"></progress><span>70%</span> Node.js</li>
        <li><progress value="85" max="100"></progress><span>85%</span> Python</li>
        <li><progress value="95" max="100"></progress><span>95%</span> SQL</li>
      </ul>
    </div>
    <div class="skills-right">
      <h2>Soft Skills</h2>
      <ul>
        <li><progress value="60" max="100"></progress><span>60%</span> Communication</li>
        <li><progress value="75" max="100"></progress><span>75%</span> Teamwork</li>
        <li><progress value="80" max="100"></progress><span>80%</span> Problem-solving</li>
        <li><progress value="65" max="100"></progress><span>65%</span> Time management</li>
        <li><progress value="90" max="100"></progress><span>90%</span> Leadership</li>
        <li><progress value="85" max="100"></progress><span>85%</span> Adaptability</li>
      </ul>
    </div>
</div>
{% endblock %}
